{% extends "madplan/base.html" %}
{% block content %}
    <div>
        <a class="btn btn-primary" role="button" href="/weekday">add a new weekdaye</a>
        <a class="btn btn-primary" role="button" href="/ingredient">add a new ingrediente</a>
        <a class="btn btn-primary" role="button" href="/recipe">add a new recipe</a>
    </div>

    <div>
        {% for weekday in weekdays %}
            <h1>{{ weekday.date|date:"l d F" }}</h1>
            <h2>{{ weekday.recipes }}</h2>
            {% for ingredent in weekday.recipes.ingredients.values_list %}
                <p>{{ ingredent|cut:"("|cut:")"|cut:"'"|cut:"," }}</p>


            {% endfor %}


        {% endfor %}
    </div>

{% endblock content %}